
/** 
 * 文字背景渐变
 */
.text-gradient h1{
    display: inline;
    background: linear-gradient(to right, #FEC163, #F05F57);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient a:hover{
    background: linear-gradient(to right, #FD6585, #0D25B9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/**
 * 图片文字背景
 */
.img-bac-text{
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    background-image: url(../img/pic.png);
    background-position: 50% 8%;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* 文字两端对齐 */
.text-justify p{
    width: 200px; 
    font-size: 18px;
    text-align: justify;
}

.text-direction p{
    direction: rtl;
}