@import './reset.css';
.loading{
    width: 100%;
    height: 100%;
}
html,body, #root{
    height: 100%;
}
#header{
    border-bottom: 1px solid #f0f1f2;
    //-webkit-box-shadow: 0 2px 8px #f0f1f2;
}
.article {
    padding: 30px;
    border-radius: 4px;
}
.bgfff {
    background: #fff;
}
h1{
    font-size: 30px;
}
.flex{
    display: flex;
}
.flex1{
    flex:1;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold{
    font-weight: bold;
}
/*基础样式格式化*/
.ant-layout{
    height: 100%;
    .ant-layout-header{
        background: #fff;
        padding: 0;
    }
    .ant-layout-sider {
        background: #fff;
    }
}
