.logo{
    width: 100%;
    width: 200px;
    position: relative;
    &::before{
        content: "";
        width: 1px;
        height: 30px;
        background: #eee;
        position: absolute;
        right: 0;
    }
    h1{ 
       
        font-size: 30px;
        background: linear-gradient(to right, #FEC163, #F05F57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
    h1:hover{
        background: linear-gradient(to right, #FD6585, #0D25B9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.nav{
    font-size: 18px;
    .nav-left{
        width: 90px;
    }
    .nav-right{
        width: 90px;
    }
    .nav-center{
        >div{
            
            a{
                padding: 0 30px;
                display: block;
                cursor: pointer;
            }
            
        }
        >div.active{
            border-bottom: 4px solid #F05F57;
        }
    }
}
.menu-wrapper{
    width: 100%;
    ul{
        width: 100%!important;
        li{
            padding-left: 40px!important;
        }
    }
}